body {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allShapesPage {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.oneShape {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 10px 10px 10px grey;
}

#oneShape div {
  display: inline-block;
  margin-left: 1rem;
}

#oneShape li {
  list-style: square;
}

ul #oneShape {
  display: flex;
}
