body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#eachProduct li {
  float: left;
  width: 10%;
  margin: 2.5%;
  align-items: center;
  list-style: none;
}
